button{
    background-color: #C49A64;
    color: white;
    outline-color: #C49A64;
    outline-width: 0rem;
  }
  .itemDetailComplete{
      display: flex;
      justify-content: center;
      color: #AABEAB;
  }
 .itemDetailImg{
     width: 100%;
     border-radius: 5%;    
 }
 .itemDetail{
     display: grid;
     grid-template-columns: 300px 200px;
     margin-left: 2rem;
     justify-content: space-evenly;
     align-items: center;
     border-color: #AABEAB;
     border-style: dotted;
     border-radius: 5%;
 }
 .itemInformation{
     text-align: center;
 }
 