button{
    background-color: #C49A64;
    color: white;
    outline-color: #C49A64;
    outline-width: 0rem;
  }
  .itemDetailComplete{
      display: flex;
      justify-content: center;
      color: #AABEAB;
  }