header {
    display: grid;
    background-color: #AABEAB;
    color: white;
    justify-content: center;
    width: 100%;
  }
header img {
    width: 25%;
    padding-left: 40vw;
    padding-top: 0;
    padding-bottom: 0;
}
header nav li {
    text-decoration: none;
}
header nav li a {
    display: flex;
    flex-direction: column;
    font-family: 'Asap', sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    padding-right: 1rem;
  }
.nav-container {
    background-color: #C49A64;
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    text-align: justify;
  }