header {
    display: grid;
    background-color: #AABEAB;
    color: white;
    justify-content: center;
    width: 100%;
  }
header img {
    display: grid;
    grid-template-columns: 1fr;
    width: 15%;
    padding-left: 45vw;
    padding-top: 0;
    padding-bottom: 0;
    justify-content: center ;
    margin-bottom: 0%;
    margin-top: 1rem;
}
header nav li {
    text-decoration: none;
    display: flex;
    align-content: center;
}
header nav li a {
    display: flex;
    font-family: 'Asap', sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    padding-right: 1rem;
    justify-content: space-around;
  }
.nav-container {
    display: grid;
    grid-template-columns: (2fr, 1fr, 1fr, 1fr);
    background-color: #C49A64;
    text-decoration: none;
    list-style: none;
    display: flex;
    text-align: justify;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0%;
    padding-left: 2rem;
  }
  #te {
    padding-right: 0%;
    padding-left: 10rem;
  }
  #yerba {
    padding-right: 10rem;
    padding-left: 0%;
  }
  nav li img {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
  }
  .brandCart {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-left: 0rem;
    padding-right: 0rem;
  }
  #name{
    font-weight:bold;
    font-size: 30px;
    padding-right: 2rem;
  }